.Rproj.user
.Rhistory
.RData
.Ruserdata
git_clone_*
inst/test_files/notebook_files/*
inst/test_files/*.tex
inst/extdata/report/report.md
inst/extdata/report/report.html
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/
.Renviron
.DS_Store
*_files/
po/*~
inst/doc
.env
.secrets
.jrtemplate.yml
*.env
*.swp
config-uat-psw.yml
docs
